.login{
  display: flex;
  align-items: center;
  justify-content: center;
  //background: rgba(9, 9, 9, 0.2);
  height: 100vh;
  form{
    width: 70%;
    height: auto;
    .loginFormTitle{
      h2{
        text-align: center;
        color: #1f1f1f;
        font-size: 30px;
      }
      p{
        text-align: center;
      }
    }
    .loginFormSocial{
      display: flex;
      justify-content: space-between;
      span{
        width: 20%;
        padding: 10px 20px;
        border: 1px solid #DADADA;
        text-align: center;
        font-size: 30px;
        border-radius:5px;
        color: #0c469a;
      }
      .color{
        color: #ad180d;
      }
    }
    .loginFormLine{
      display: flex;
      margin-top: 20px;
      .line{
        width: 47%;
        height: 1px;
        background: #b1b1b4;
        margin-top: 10px;
      }
      .or{
        width: 4%;
        padding: 0px 1%;
        color: #dadada;

      }
    }
    .loginFormBody{
      width: 100%;

      display: flex;
      div{
        width: 50%;
        .loginFormBodyItem{
          width: 95%;
          padding: 0px 2.5%;
          margin-top: 25px;
          display: flex;
          justify-content: center;
          position: relative;
          select{
            width: 100%;
            padding: 11.5px;
            font-size: 12px;
            color: black;
            border:1px solid #DADADA;
            border-radius:4px ;
          }
          :focus{
            outline: none;
          }
          input{
            width: 100%;
            height: 20px;
            font-size: 12px;
            padding: 10px 20px;
            color: #6f6d6d;
            border: 0.5px solid #DADADA;
            border-radius: 5px;
          }
          :focus{
            outline: none;
          }
          span{
            position: absolute;
            top:45px;
            color:red;
            font-size: 12px;
            left: 10px;
          }
        }
      }

    }
    .loginFormBottom{
      padding: 20px 0px;
      .loginFormBottomAction{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
          padding: 10px ;
          font-size: 16px;
          font-weight: bold;
          width: 95%;
          border: none;
          border-radius: 5px;
          background-color: #3f72db;
          color: #ffffff;
        }
        :hover{
          background-color: #2a2a94;
          color: #ffffff;
        }
      }
      .loginFormBottomRegisterOrLogin{
        p{
          text-align: center;
          color: #211f1f;
          font-size: 14px;
          span{
            cursor: pointer;
            text-decoration: none;
            color: blue;
          }
        }

      }
    }
  }
}
