@import "src/asset/helpers/variable";
.container{
  width: 90%;
  padding: 10px 5%;
}
.background-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contain{
  background-size: contain;
}
.item-center{
  @include display-flex;
  justify-content: center;
  align-items: center;
}
.item-btw{
  @include display-flex;
  justify-content: space-between;
  align-items: center;
}
