@import "src/asset/helpers/variable";
.loginContainer{

  width: 100%;
  height: 100vh;
  @include display-flex;
  .loginMain{
    margin-top: 5vh;
    width: 90%;
    @include display-flex;
    justify-content: center;
    align-content: center;
    height: 90%;
    .img{
      width: 50%;
      border: 1px solid #dadada;
      border-radius: 10px;
      padding: 10px;
      .logo{
        width: 87%;
        height: 60%;
        margin-top: 100px;
        margin-left: 100px;
      }
      .title{
        width: 100%;
        text-align: center;
        height: 10%;
        font-family: "Poppins", sans-serif;

        h2{
          font-size: 20px;
        }
      }
      .logoImage{
        margin-top: 50px;
        background-size: contain;
        height: 50%;
        width: 100%;
      }
    }
    .content{
      width: 50%;
    }
  }
}